---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Details">
<h1>The AI Transparency Badge Details</h1>

<h2>Category</h2>
<ul>
  <li><strong>Content Generation</strong> - The Badge references the initial creation of content itself - video, image, audio, text, etc.</li>
  <li><strong>Content Transformation</strong> - The Badge references actions performed on content - effects, editorial modifications, etc.</li>
  <li><strong>Vibe Coding</strong> - The Badge references code generated in large part by AI, with or without human supervision.</li>
  <li><strong>Assisted Coding</strong> - The Badge references code generation where a developer is aware of and understands every code change.</li>
  <li><strong>Algorithms</strong> - The Badge references systems responsible for recommendations, retention, automated filtering, etc.</li>
  <li><strong>Workflow</strong> - The Badge references systems where data routing is handled without filtering.</li>
  <li><strong>Simulation</strong> - The Badge refers to systems designed to simulate events and conditions for prediction or complex modelling.</li>
</ul>

<h2>Data Sources</h2>

<ul>
  <li><strong>Model</strong> - Information consumed as part of model training and tuning by the model author.</li>
  <li><strong>Datastores</strong> - Data available to the model provided by the implementer - RAG, LoRA</li>
  <li><strong>Internet</strong> - Internet access is used during inference (when the model is generating a response)</li>
  <li><strong>User</strong> - The model has access to user data.</li>
</ul>

<h2>Scope / Execution</h2>

<ul>
<li><strong>Site / App-wide</strong> - The Badge refers to any / all content on the site or in the app.</li>
<li><strong>Page-specific</strong> - The Badge refers to any / all of the content on the specific page where the badge is located.</li>
  <li><strong>Asset-tagged</strong> - The badge only refers to the content linked to the Badge.</li>
  <li><strong>Real-time</strong> - The Badge refers to live, in-the-moment use of AI.</li>
  <li><strong>Build-time</strong> - The Badge refers to single / multiple use at time of creation.</li>
</ul>

</BaseLayout>
