---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <h1>The AI Transparency Badge</h1>
  <p>The AI Badge to rule them all!</p>
  <h2>Judgement-free</h2>
  <p>Badges produced on this site will always be neutral.</p>
  <h2>Self-certified</h2>
  <p>No sign-up, no queues, no vetting; Just be honest and use the Badge.</p>
  <h2>Trustworthy</h2>
  <p>Use of the Badge is free, but licensed, so it means something.</p>
  <h2>Why Bother</h2>
  <p>The Badge aims to promote transparency for all.</p>
</BaseLayout>
