---
import Header from "../layouts/Header.astro";
const { title } = Astro.props;
const extraTitle = title !== undefined ? title + " - AI Transparency Badge" : "AI Transparency Badge";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#05060a"> <!-- Chrome and others -->
    <title>{extraTitle}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">

      <Header />

      <slot />

      <footer>
        Self-certified • No tracking • No backend
      </footer>

    </div>
  </body>
</html>
