---
let pages = [
  {
    "name": "Home",
    "url": "."
  },
  {
    "name": "Builder",
    "url": "builder"
  },
  {
    "name": "Explainer",
    "url": "explainer"
  },
  {
    "name": "License",
    "url": "license"
  },
  {
    "name": "Landscape",
    "url": "landscape"
  },
];

const current = Astro.url.pathname.substring(1);
---
<header>
  <ul class="header">
    {
    pages.map(page => {
    const isActive = current === page.url.replace(".", "");

    if ( isActive ) {
    return (
    <li><a aria-current="page" href={page.url}>{page.name}</a></li>
    )} else {
    return (
    <li><a href={page.url}>{page.name}</a></li>
    )
    }})}
  </ul>
</header>
